* {
    box-sizing: border-box;
}

html, body{
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    overflow-x: hidden;
}

body{
    background-color: #0b0b0f;
    background:
        radial-gradient(
        circle at top,
        rgba(64, 0, 255, 0.15),
        transparent 50%
    ),
    #0b0b0f;
}



.wrap{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.main-chat{
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg,#4027f8, #7e9eff);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.50);
    border-radius: 20px;
    overflow: hidden;
    color: #eee;
}

.header{
padding: 15px;
text-align: center;
font-weight: bolder;
color: white;
background: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(15px);
}

.chat-display{
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.CHAT{
    background:rgba(255, 255, 255, 0.15);
    padding: 10PX 14PX;
    border-radius: 15PX;
    max-width: 50%;
    color: #eee;
}

footer{
    padding: 10px;
    background:rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.input-box-control{
    display: flex;
    gap: 10px;
    align-items: center;
}

.chat-sender{
    flex: 1;
    padding: 12px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #000000;
    background:  rgba(255, 255, 255, 1.15);
}

.send-b{
    width: 120px;
    padding: 14px;
    border-radius: 15px;
    border: none;
    background: #000000 ;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    flex: 0 0 auto;
    width: 120px;
}

.send-b:hover{
    filter: brightness(1.1);
    transform: translateY(-1px);
    background: #ffffff ;
    color: rgb(0, 0, 0);
}