@keyframes cardenter {
    from{
    opacity: 0;
    transform: translateY(40px);}

    to {
    opacity: 1;
    transform: translateY(0px);
    }
}

@keyframes SRmassages{
    from {
        opacity: 0;
        transform: translateY(10);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    box-sizing: border-box;
}

html, body{
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    overflow-x: hidden;
}

body{
    background-color: #0b0b0f;
    background:
        radial-gradient(
        circle at top,
        rgba(64, 0, 255, 0.15),
        transparent 50%
    ),
    #0b0b0f;
}



.wrap{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.main-chat{
    animation: cardenter 0.8s ease-out both;
    height: 650px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg,#4027f8, #7e9eff);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.60);
    border-radius: 20px;
    overflow: hidden;
    color: #eee;
}

.header{
padding: 15px;
text-align: center;
font-weight: bolder;
color: white;
background: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(15px);
}

.chat-display{
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    scroll-behavior: smooth; 
}

.chat-display::-webkit-scrollbar{
    width: 8px;
}

.chat-display::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.70);
}

.CHAT{
    animation: SRmassages 0.35s ease-out both;
    background: rgba(255, 255, 255, 0.15);
    padding: 10px 14px;
    border-radius: 15px;
    max-width: 60%;
    color: #eee;
}

.RECEIVED{
    align-self:flex-start;
    background: rgba(255, 255, 255, 0.2);
}

.SENT{
    align-self: flex-end;
    background: rgba(0, 0, 0,0.60);
}

footer{
    padding: 10px;
    background:rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.input-box-control{
    display: flex;
    gap: 10px;
    align-items: center;
}

.chat-sender{
    flex: 1;
    padding: 12px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #000000;
    background:  rgba(255, 255, 255, 1.15);
}

.send-b{
width: 47px;
height: 47px;
display: flex;
align-items: center;
justify-content: center;
border: none;
border-radius: 50%;
background: linear-gradient(135deg, #ffffff, #dcdcff);
color: #5b27f8;
cursor: pointer;
box-shadow: 0 3px rgba(0, 0, 0, 0.25),inset 0 0 0 rgba(255, 255, 255, 0.4);
transition: transform 0.25s ease,box-shadow 0.25s ease, background 0.25s ease;
}

.send-b:hover{
    transform: translateX(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45);
}

.send-b:hover .send-icon{
    transform: translateX(4px);
}

.send-b:active{
    transform: scale(0.95);
}


.send-icon{
    width: 25px;
    height: 25px;
    fill: currentColor;
    transition: transform 0.25s ease, filter 0.25s ease;
}